@charset "UTF-8";
body {
	background:#645;
	font-family:Arial, Helvetica, sans-serif;
}
h1{
	color:#fff;
	font-size:50px;
	margin-bottom:10px;
	
}

h2{
	color:#fff;
	font-size:30px;
	margin-bottom:5px;
	
}

p{
	padding-left:50px;
	font-size:20px;
	color:red;
	
}